*{margin: 0;
    padding: 0;
}
/* INDEX */

header{
    position: sticky;
top: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: rgb(165, 165, 165);
    flex-wrap: wrap;

}
a{
    flex-grow: 1;
}
ul{
    display: flex;

}

li{
    padding: 10px;

    font-family: Akshar, sans-serif;
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
.ig__logo{
    display: flex;

    width: 30px;
    height: 30px;
}


/* Medio */

.portada{
    display: flex;
    flex-direction: column;
    background-image: url(../recursos/1.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    justify-content: center;
    align-items: center;
    
}

.titulo{
    display: flex;
    margin-top: 400px;
    font-family: Akshar, sans-serif;
    text-align: center;
    color: white;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;

}
.texto__principal{
    font-family: Akshar, sans-serif;
    text-align:center;
    color: white;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;

} 

.mapa{
margin-top: 10px;
width: 100%;
}

/* footer */
.copyright{
    
    padding: 10px;
    background-color: rgb(209, 221, 231);
}

/* PAGE--CASA */

.fotos__casa{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 220px 100px;
    background-position: center;
    gap: 10px;
    margin: 20px;
}


.fotos__patio1{
    background-image: url(../recursos/2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;  
    transition: all 0.5s ;
}
.fotos__patio1:hover{
    transform: scale(1.2);
}
.texto__patio1{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    align-content: start;
    font-family: akshar, sans-serif;
}


.fotos__patio2{
    background-image: url(../recursos/galeria.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit; 
    transition: all 0.5s ;
}  
.fotos__patio2:hover{
    transform: scale(1.2);
}
.texto__patio2{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    align-content: start;
font-family: akshar, sans-serif;
}


.fotos__patio3{
    background-image: url(../recursos/pileta.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit; 
    transition: all 0.5s ;
}
.fotos__patio3:hover{
    transform: scale(1.2);
}
.texto__patio3{
    grid-column: 4/3;
    grid-row: 2/3;
    text-align: center;
    font-family: akshar, sans-serif;


}
.video__casa{
display: flex;
    justify-content: center;
}


/* PAGE--CONTACTOS */
.portada__contacto{
    display: flex;
    flex-direction: column;
    background-image: url(../recursos/pileta.jpeg);
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 600px;
justify-content: center;
align-items: center;
}
.titulo__contacto{
    display: flex;
    flex-direction: row;
    color: white;
    font-family: Akshar, sans-serif;

}

.newsletter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 220px;
    flex: 1 0 120px;
    margin-left: auto;
padding: 8px 16px;
border: none;
color: #f2f2f2;
text-transform: uppercase;
border-radius: 2px;
}

label{
    display: flex;
    font-family: Akshar,sans-serif ;
    color: white;
}
/* footer */
.copyright{
    padding: 10px;
    background-color: rgb(209, 221, 231);
    min-height: 75px;
    display: flex;
    align-items: center;
    font-family: akshar, sans-serif;

}

/* PAGE--CLIENTES */

.contenedor__clientes{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 220px;
background-position: center;
gap: 10px;
}
.img1__grid{
    
    background-image: url(../recursos/c1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;   
background-color: aqua;
transition: all 0.5s ;
}
.img1__grid:hover{
    transform: scale(1.2);
}

.img2__grid{
background-color: blue;
background-image: url(../recursos/c2.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-position: inherit;
transition: all 0.5s ;
}
.img2__grid:hover{
    transform: scale(1.2);
}

.img3__grid{
background-color: blanchedalmond;
background-image: url(../recursos/c3.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-position: inherit;
transition: all 0.5s ;
}
.img3__grid:hover{
    transform: scale(1.2);
}

.img4__grid{
    background-image: url(../recursos/c4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
background-color: red;
transition: all 0.5s ;
}
.img4__grid:hover{
    transform: scale(1.2);
}
.img5__grid{
background-color: blueviolet;
background-image: url(../recursos/c5.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-position: inherit;
transition: all 0.5s ;
}
.img5__grid:hover{
    transform: scale(1.2);
}


.titulo__clientes{
    height: 175px;
    font-family: akshar, sans-serif;
    text-align: center;
    color: white;
    background-image: url(../recursos/pileta.jpeg);
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* PAGE__SOBRENOSOTROS */

.titulo__sobrenosotros{

    text-align: center;
    color: white;
    background-color: rgb(209, 221, 231);
    font-family: akshar, sans-serif;
    padding: 10px 10px 10px 10px;
}

/* Media Querie */

@media (min-width:541px) and (max-width: 720){}

@media (min-width: 320px) and (max-width:540px){}


