.copyright{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
/*   justify-content: end;
    flex-wrap: wrap ; */
    padding: 1rem;
    background-color: $color-footer;
    font-family: akshar, sans-serif;

}
.ig__logo{

    width: 2rem;
    height: 2rem;
}
.titulo__footer{
    display: flex;
    flex-grow: 1; 
    padding: 1rem;
}
/* footer */
/* .copyright{
    padding: 10px;
    background-color: $color-footer;
    min-height: 75px;
    display: flex;
    align-items: center;
    font-family: akshar, sans-serif;

} */