.font{
    font-family: Akshar, sans-serif;
}
@mixin font-size ($size){
    font-size: $size ;
    text-align:center;
    color: $color-fuente;
}
/* index */
.portada{
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(rgba(0, 0, 0, 0.438),rgba(0, 0, 0, 0.438)), url(../recursos/1.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60rem;
    justify-content: center;
    align-items: center;
    
    .titulo{
        display: flex;
        @include font-size(3rem)
        @extend .font;
    }
    .texto__principal{
        @extend .font;
        @include font-size(1.5rem)
    
    } 
    
}
.mapa{
    margin-top: 10px;
    width: 100%;
    }
/* casa */
.video__casa{
    display: flex;
        justify-content: center;
        
    }

/* contacto */
.portada__contacto{
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(rgba(0, 0, 0, 0.438),rgba(0, 0, 0, 0.438)), url(../recursos/frente.jpeg);
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 800px;
margin:auto;
padding:auto;
justify-content: center;
align-items: center;


}
.titulo__contacto{
    display: flex;
    @include font-size(2.5rem)
    @extend .font;

}

.newsletter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 220px;
    flex: 2 1 100px;
    padding: 8px 16px;
    border: none;
    color: #f2f2f2;
    text-transform: uppercase;
    border-radius: 2px;
    label{
        display: flex;
        color: $color-fuente; 
        @extend .font;
}
    input{
        
    }
}

/* PAGE--CLIENTES */
.titulo__clientes{
        height: 175px;
        text-align: center;
        color: $color-fuente;
        background-image:linear-gradient(rgba(0, 0, 0, 0.438),rgba(0, 0, 0, 0.438)), url(../recursos/pileta.jpeg);
        padding: 10px 10px 10px 10px;
        margin: 10px 10px 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @extend .font;
    }
    
.contenedor__clientes{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr ;
    grid-template-rows: 350px 350px ;
    background-position: center;
    gap: 10px;
}

$imagenes: (img1: c1, img2: c2, img3: c3, img4: c4, img5: c5, img6: parrilero);

@each $img, $clientes in $imagenes{
    .#{$img}__grid{
        background-image: url('../recursos/#{$clientes}.jpeg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: inherit;   
        transition: all 0.5s ;
            &:hover{
            transform: scale(1.2);}
}
}

/* PAGE__SOBRENOSOTROS */
.titulo__sobrenosotros{

    @include font-size(3rem)
    background-color: rgb(143, 202, 193);
    padding: 10px 10px 10px 10px;
    @extend .font;
}

.texto__nosotros{
    @extend .font;
    font-size: 1.25rem;
}
