@import'variables';
@import'header';
@import'main';
@import'footer';
*{margin: 0;
    padding: 0;
}


/* Media Querie */

@media (min-width:541px) and (max-width: 720){
        
        
        
}

@media (min-width: 320px) and (max-width:540px){ 
    .contenedor__clientes{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 10rem 10rem 10rem 10rem 10rem;
        background-position: center;
        padding: 0.25rem;
        gap: 5px;
        }
    .titulo__clientes{
        height: 8rem;
    }
        li a{
            font-size: 0.55rem;
        }
    .video__casa{
        width: 20rem;
        height: 12rem;
    }
    .titulo__lacasa{
font-size: 1rem;
    }
    
    }